*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;

}
.cuadro{
    width: 50%;
    height: 100%;
}
.c1{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 8fr 1fr;
}
.c1 > :nth-child(1){
    grid-row: span 2;
    border-right: solid black;

}
.c1 > :nth-child(4){
    grid-column: span 2;
    border-top: solid black;

}
.c1 > :nth-child(2){
    border-bottom: solid black;
}

.c2{
    border-left: solid black;
    display: grid;
    grid-template-rows: 1fr 5fr;
    position: relative;
}
.c2 > :nth-child(1){
    border-bottom: solid black;
    background-color: white;
    z-index: 1;
}
/* ---------------parte de quiceno------------------- */
.container-quice{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.container-quice > :nth-child(2){
    margin-top: 100px;
}
.semic{
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -100%);
    border-radius: 50%;
    border: solid black;
}
.quiceno-box{
    border: solid black;
    height: 13%;
    width: 80%;
}
.container-quice > :nth-child(2) .quicenito,
.container-quice > :nth-child(3) .quicenito,
.container-quice > :nth-child(4) .quicenito,
.container-quice > :nth-child(5) .quicenito{
    border-right: solid black;
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-quice > :nth-child(3) .quicenito,
.container-quice > :nth-child(5) .quicenito{
    border-right: none;
    border-left: solid black;
}
.container-quice > :nth-child(3),
.container-quice > :nth-child(5){
    display: flex;
    justify-content: flex-end;
}
.qiucenito2{
    border-radius: 50%;
    border: solid black;
    width: 50px;
    height: 50px;
}